@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap");
$fonts: (
  font-1: "Montserrat",
  font-2: "Raleway",
);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

nav {
  height: 100px;
  width: 100%;
  background: #090809;
  display: flex;
  align-items: flex-end;

  img {
    margin-left: 150px;
  }
}

.topInfoContainer {
  height: calc(100vh - 60px);
  width: 100%;
  background: url("../img/bg.png");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

  .topInfoContent {
    height: 100%;
    margin-left: 150px;
    margin-top: -40px;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: map-get($map: $fonts, $key: font-2);

    .topInfoTitle {
      font-size: 80px;
      font-weight: 400;
    }

    .topInfoText {
      font-size: 26px;
      line-height: 1.5;
    }

    .topInfoContactBtn {
      width: 280px;
      height: 48px;
      color: #fff;
      background: #c09b59;
      border: none;
      letter-spacing: 1px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        filter: brightness(1.15);
      }
    }
  }
}

.teamContainer {
  font-family: map-get($map: $fonts, $key: font-2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 70px 0;

  .teamTitleText {
    font-size: 60px;
    margin-bottom: 40px;
  }

  .teamTiles {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 1000px;

    .teamTile {
      width: calc((100% / 3) - 30px);
      margin: 0 15px;
      padding: 30px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0px 11px 29px -12px rgb(202, 202, 202);
      cursor: pointer;
      transition: 0.2s;
      border-radius: 5px;
      &:hover {
        //filter: brightness(1.05);
        box-shadow: 0px 11px 39px -12px rgb(139, 139, 139);
        color: #c09b59;
      }

      img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 3px solid #c09b59;
      }

      .teamNameText {
        margin-top: 20px;

        span {
          font-weight: 400;
        }
      }

      .teamMailPhoneText {
        font-weight: 400;
      }

      .teamSocialsContainer {
        margin-top: 20px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        i {
          font-size: 19px;
          &:hover {
            color: #aaa;
          }
        }
      }
    }
  }
}

.descriptionContainer {
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  background: #d8c19a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: map-get($map: $fonts, $key: font-1);

  .descriptionLeft,
  .descriptionRight {
    width: 30%;
    color: #000;
    font-weight: 500;

    .descriptionText {
      span {
        font-weight: 600;
      }
    }
  }
}

.offerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 60px 0;
  font-family: map-get($map: $fonts, $key: font-1);

  .offerTitle {
    font-size: 45px;
    margin-bottom: 45px;
    text-align: center;
    font-weight: 600;

    span {
      font-size: 17px;
      font-weight: 500;
    }
  }

  .offerContent {
    width: 70%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 10px;
    grid-template-areas:
      ". . . ."
      ". . . .";

    .offerElement {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      i {
        color: #c09b59;
        font-size: 40px;
      }

      .offerNameText {
        margin-top: 15px;
        font-size: 16px;
      }
    }
  }
}

/* rwd */
@media (max-width: 1600px) {
  .teamContainer {
    .teamTiles {
      width: 100%;
      max-width: none;
    }
  }
}

@media (max-width: 930px) {
  nav {
    img {
      margin-left: 30px;
    }
  }

  .topInfoContainer {
    text-align: center;

    .topInfoContent {
      height: 100%;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: -40px;
      width: 90%;
      align-items: center;

      .topInfoTitle {
        font-size: 60px;
      }

      .topInfoText {
        font-size: 24px;
      }
    }
  }

  .teamContainer {
    .teamTitleText {
      font-size: 40px;
    }
  }

  .descriptionContainer {
    flex-direction: column;

    .descriptionRight {
      margin-top: 30px;
    }

    .descriptionLeft,
    .descriptionRight {
      width: 80%;
      position: relative;
    }
  }
}

@media (max-width: 600px) {
  nav {
    img {
      margin-left: 20px;
    }
  }

  .topInfoContainer {
    text-align: center;

    .topInfoContent {
      margin-top: -40px;
      margin-right: 10px;
      margin-left: 10px;

      .topInfoTitle {
        font-size: 40px;
        font-weight: 400;
      }

      .topInfoText {
        font-size: 21px;
      }
    }
  }

  .teamContainer {
    .teamTiles {
      flex-direction: column;
      width: 100%;

      .teamTile {
        width: 70%;
        margin: 30px 0;
      }
    }
  }
}

@media (max-width: 410px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 50%;
      width: auto;
    }
  }

  .topInfoContainer {
    text-align: center;

    .topInfoContent {
      .topInfoContactBtn {
        width: 90%;
      }
    }
  }
}
